body {
  background-color:  #10182A;
  background-image:  radial-gradient(circle at top, #10182A, #0B101C);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-blue {
  background-color: #10182A;
}

.bg-dark-blue {
  background-color: #0B101C;
}

.bg-ghost {
  background-color: rgba(11, 16, 28, 0.2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}